@import 'styles/utils.scss';

.auth-template {
  display: flex;
  background: $oc-gray-8;

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;

  .auth-area {
    padding: 2rem;
    width: 400px;
    background: $oc-gray-7;
    border-radius: 0.2rem;

    @include material-shadow(2, 0.5);

    .logo {
      text-align: center;
    }
  }
}