@import 'styles/utils.scss';

.users {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center; 
	background: $oc-gray-8; 
	
	// &:hover {
	// 	background: $oc-gray-3;
	// }
	
	.header {
		font-size: 1.5rem;
	}
	
	.content {
		
	}
}