@import 'styles/utils.scss';

.button {
  display: inline-flex;

  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-weight: 600;
  font-size: 0.9rem;
  color: white;
  border-radius: 0.3rem;

  cursor: pointer;
  user-select: none; // prevent drag
  
  // default theme: indigo
  &.default {
    background: $oc-indigo-3;
    &:hover {
      background: $oc-indigo-4;
    }
    &:active {
      background: $oc-indigo-5;
    }
  }

  // theme="gray"
  &.gray {
    background: $oc-gray-5;
    &:hover {
      background: $oc-gray-4;
      color: $oc-gray-7;
    }
    &:active {
      background: $oc-gray-5;
    }
  }
  
  // theme="outline": white outline
  &.outline {
    border: 2px solid white;
    &:hover {
      background: white;
      color: $oc-blue-6;
    }
    &:active {
      background: rgba(255,255,255, 0.85);
      border: 2px solid rgba(255,255,255, 0.85);
    }
  }

  // theme="circle"
  &.circle {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    
    img {
      width: 50%;
      height: 50%;
    }
    // &:hover {
    //   background-color: $oc-blue-6;
    // }
    
    &.hover-red {
      // img {

      // }
      &:hover {
        background-color: $oc-red-5;
      }
    }
  }

  // theme="circle-red"
  // can separate sub classname?

  // &:hover {
  //   @include material-shadow(2, 0.5); // show shadow when hovered
  // }

  // full width
  &.fullWidth {
    width: 100%;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1.125rem;
    margin-top: 1rem;
    justify-content: center;
  }

  // disabled button
  &.disabled {
    background: $oc-gray-4;
    color: $oc-gray-6;
    cursor: default;
    &:hover, &:active {
      box-shadow: none;
      background: $oc-gray-4;
    }
  }

  & + & {
    margin-left: 0.5rem;
  }
}