@import 'styles/utils.scss';

.channels {
	width: 100%;
	@include flex-arrange('column');

	background: $oc-gray-9; 
	
	// &:hover {
	// 	background: $oc-gray-3;
	// }
	
	.header {
		font-size: 1.5rem;
	}
	
	.content {
		
	}
}