@import 'styles/utils.scss';

.add-friend {
  background: white;
  padding: 2rem;

  .title {
    font-size: 1.25rem;
    font-weight: 500;
  }

  .description {
    margin-top: 0.25rem;
  }
}

.options {
  padding: 1rem;
  // text-align: right;
}