@import 'styles/utils.scss';

.login-form {
  display: flex;

  .local-login {
    width: 50%;
    .login-input {
      background-color: $oc-gray-1;
      display: block;
    }
  }

  .social-login {
    width: 50%;
  }
}