@import 'styles/utils.scss';

.join-form {
  input {
    font-size: 1rem;
    color: $oc-gray-1;
    background: $oc-gray-7;
    border: none;
    border-bottom: 1.2px solid $oc-gray-8;
    padding-bottom: 0.5rem;
    outline: none;
    width: 100%;
    &:focus {
      border-bottom: 1.2px solid $oc-indigo-3;
    }
    & + input {
      margin-top: 1rem;
    }
  }

  .join-footer {
    margin-top: 2rem;
    text-align: right;
    a {
      color: $oc-indigo-3;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}