@import 'styles/utils.scss';

.friend-card {
  display: flex;
  height: 5rem;
  border-radius: 0.5rem;
  align-items: center;
  cursor: pointer;

  .friend-icon {
    width: 5rem;
    text-align: center;
    
    img {
      width: 48px;
      height: 48px;
      vertical-align: middle;
      border-radius: 50%;
    }
  }

  .friend-name {
    width: 20rem;
    color: $oc-gray-0;
    font-weight: 600;
    user-select: none;
    
    span {
      color: $oc-gray-4;
      font-weight: 400;
    }
  }

  .friend-menu {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    padding-right: 1.5rem;
  }

  &:hover {
    background-color: lighten($oc-gray-6, $amount: 4);
  }
}