@import 'styles/utils.scss';

.auth-form {
  input {
    font-size: 1rem;
    color: $oc-gray-1;
    background: $oc-gray-7;
    border: none;
    border-bottom: 1.2px solid $oc-gray-8;
    padding-bottom: 0.5rem;
    outline: none;
    width: 100%;
    &:focus {
      border-bottom: 1.2px solid $oc-indigo-3;
    }
    & + input {
      margin-top: 1rem;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: $oc-gray-1;
      -webkit-box-shadow: 0 0 0 30px $oc-gray-7 inset !important;
    }
    &:-webkit-autofill::first-line {
      font-size: 1rem;
    }
  }

  .auth-footer {
    margin-top: 2rem;
    a {
      color: $oc-indigo-3;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}