@import 'styles/utils.scss';

.dm-template {
  flex: 1;
  display: flex;
  
  .dm-list {
    display: block;
    width: 15rem;
    background: $oc-gray-7;

    .main {
      height: calc(100vh - 5rem);
    }
    .footer {
      height: 5rem;
    }
  }
}